In [1]:
import pandas as pd

In [123]:
#Read in monitor9.txt, path is /home/twall5/sleep_analysis-3/examples/Monitor9.txt
df = pd.read_csv('/home/twall5/sleep_analysis-3/examples/Monitor9.txt', sep='\t', header=None)
df

,0,1,2,3,4,5,6,7,8,9,...,32,33,34,35,36,37,38,39,40,41
0,2,23 Feb 24,11:03:00,1,0,9,0,MT,0,1,...,28,11,22,8,20,19,29,64,14,37
1,3,23 Feb 24,11:04:00,1,0,9,0,MT,0,1,...,27,6,25,2,37,23,38,37,10,31
2,4,23 Feb 24,11:05:00,1,0,9,0,MT,0,1,...,32,12,21,3,42,7,32,32,2,42
3,5,23 Feb 24,11:06:00,1,0,9,0,MT,0,1,...,30,5,12,1,42,10,23,19,9,34
4,6,23 Feb 24,11:07:00,1,0,9,0,MT,0,1,...,39,4,23,0,15,18,29,17,5,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7347,7349,28 Feb 24,13:30:00,1,0,9,0,MT,0,1,...,0,0,0,0,0,8,29,14,0,0
7348,7350,28 Feb 24,13:31:00,1,0,9,0,MT,0,1,...,0,0,14,0,0,12,45,28,0,0
7349,7351,28 Feb 24,13:32:00,1,0,9,0,MT,0,1,...,0,0,0,0,0,27,24,28,0,0
7350,7352,28 Feb 24,13:33:00,1,0,9,0,MT,0,1,...,0,0,0,0,0,16,8,37,0,0
7351,7353,28 Feb 24,13:34:00,1,0,9,0,MT,0,1,...,0,0,0,0,0,21,17,11,0,9

In [124]:
#Give the columns names
#Index,Date,Time,LD-DD,Status,Extras,Monitor_Number,Tube_Number,Data_Type,Unused,Light_Sensor,data_1,data_2,data_3,data_4,data_5,data_6,data_7,data_8,data_9,data_10,data_11,data_12,data_13,data_14,data_15,data_16,data_17,data_18,data_19,data_20,data_21,data_22,data_23,data_24,data_25,data_26,data_27,data_28,data_29,data_30,data_31,data_32
df.columns = ['Index','Date','Time','LD-DD','Status','Extras','Monitor_Number','Tube_Number','Data_Type','Light_Sensor','data_1','data_2','data_3','data_4','data_5','data_6','data_7','data_8','data_9','data_10','data_11','data_12','data_13','data_14','data_15','data_16','data_17','data_18','data_19','data_20','data_21','data_22','data_23','data_24','data_25','data_26','data_27','data_28','data_29','data_30','data_31','data_32']
df

,Index,Date,Time,LD-DD,Status,Extras,Monitor_Number,Tube_Number,Data_Type,Light_Sensor,...,data_23,data_24,data_25,data_26,data_27,data_28,data_29,data_30,data_31,data_32
0,2,23 Feb 24,11:03:00,1,0,9,0,MT,0,1,...,28,11,22,8,20,19,29,64,14,37
1,3,23 Feb 24,11:04:00,1,0,9,0,MT,0,1,...,27,6,25,2,37,23,38,37,10,31
2,4,23 Feb 24,11:05:00,1,0,9,0,MT,0,1,...,32,12,21,3,42,7,32,32,2,42
3,5,23 Feb 24,11:06:00,1,0,9,0,MT,0,1,...,30,5,12,1,42,10,23,19,9,34
4,6,23 Feb 24,11:07:00,1,0,9,0,MT,0,1,...,39,4,23,0,15,18,29,17,5,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7347,7349,28 Feb 24,13:30:00,1,0,9,0,MT,0,1,...,0,0,0,0,0,8,29,14,0,0
7348,7350,28 Feb 24,13:31:00,1,0,9,0,MT,0,1,...,0,0,14,0,0,12,45,28,0,0
7349,7351,28 Feb 24,13:32:00,1,0,9,0,MT,0,1,...,0,0,0,0,0,27,24,28,0,0
7350,7352,28 Feb 24,13:33:00,1,0,9,0,MT,0,1,...,0,0,0,0,0,16,8,37,0,0
7351,7353,28 Feb 24,13:34:00,1,0,9,0,MT,0,1,...,0,0,0,0,0,21,17,11,0,9

In [125]:
#Set variables - LD_start = 06:00, counts_per_day_alive = 100, LD_DD_anlysis = 'LD', start_date = 2/24/2024, end_date = 2/27/2024
LD_start = '06:00'
counts_per_day_alive = 100
LD_DD_analysis = 'LD'
start_date = '24 Feb 24'
end_date = '27 Feb 24'

In [126]:
#Make a callumn called LD_DD directly to the right of the time column
df.insert(3, 'LD_DD', df['Time'])
df

,Index,Date,Time,LD_DD,LD-DD,Status,Extras,Monitor_Number,Tube_Number,Data_Type,...,data_23,data_24,data_25,data_26,data_27,data_28,data_29,data_30,data_31,data_32
0,2,23 Feb 24,11:03:00,11:03:00,1,0,9,0,MT,0,...,28,11,22,8,20,19,29,64,14,37
1,3,23 Feb 24,11:04:00,11:04:00,1,0,9,0,MT,0,...,27,6,25,2,37,23,38,37,10,31
2,4,23 Feb 24,11:05:00,11:05:00,1,0,9,0,MT,0,...,32,12,21,3,42,7,32,32,2,42
3,5,23 Feb 24,11:06:00,11:06:00,1,0,9,0,MT,0,...,30,5,12,1,42,10,23,19,9,34
4,6,23 Feb 24,11:07:00,11:07:00,1,0,9,0,MT,0,...,39,4,23,0,15,18,29,17,5,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7347,7349,28 Feb 24,13:30:00,13:30:00,1,0,9,0,MT,0,...,0,0,0,0,0,8,29,14,0,0
7348,7350,28 Feb 24,13:31:00,13:31:00,1,0,9,0,MT,0,...,0,0,14,0,0,12,45,28,0,0
7349,7351,28 Feb 24,13:32:00,13:32:00,1,0,9,0,MT,0,...,0,0,0,0,0,27,24,28,0,0
7350,7352,28 Feb 24,13:33:00,13:33:00,1,0,9,0,MT,0,...,0,0,0,0,0,16,8,37,0,0
7351,7353,28 Feb 24,13:34:00,13:34:00,1,0,9,0,MT,0,...,0,0,0,0,0,21,17,11,0,9

In [127]:
#In the LD_DD column, if the time if from 6:00 - 18:00, put 'LD', if it is from 18:00 - 6:00, put 'DD'
df.loc[(df['Time'] >= '06:00') & (df['Time'] <= '18:00'), 'LD_DD'] = 'LD'
df.loc[(df['Time'] >= '18:00') | (df['Time'] <= '06:00'), 'LD_DD'] = 'DD'
df

,Index,Date,Time,LD_DD,LD-DD,Status,Extras,Monitor_Number,Tube_Number,Data_Type,...,data_23,data_24,data_25,data_26,data_27,data_28,data_29,data_30,data_31,data_32
0,2,23 Feb 24,11:03:00,LD,1,0,9,0,MT,0,...,28,11,22,8,20,19,29,64,14,37
1,3,23 Feb 24,11:04:00,LD,1,0,9,0,MT,0,...,27,6,25,2,37,23,38,37,10,31
2,4,23 Feb 24,11:05:00,LD,1,0,9,0,MT,0,...,32,12,21,3,42,7,32,32,2,42
3,5,23 Feb 24,11:06:00,LD,1,0,9,0,MT,0,...,30,5,12,1,42,10,23,19,9,34
4,6,23 Feb 24,11:07:00,LD,1,0,9,0,MT,0,...,39,4,23,0,15,18,29,17,5,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7347,7349,28 Feb 24,13:30:00,LD,1,0,9,0,MT,0,...,0,0,0,0,0,8,29,14,0,0
7348,7350,28 Feb 24,13:31:00,LD,1,0,9,0,MT,0,...,0,0,14,0,0,12,45,28,0,0
7349,7351,28 Feb 24,13:32:00,LD,1,0,9,0,MT,0,...,0,0,0,0,0,27,24,28,0,0
7350,7352,28 Feb 24,13:33:00,LD,1,0,9,0,MT,0,...,0,0,0,0,0,16,8,37,0,0
7351,7353,28 Feb 24,13:34:00,LD,1,0,9,0,MT,0,...,0,0,0,0,0,21,17,11,0,9

In [128]:
#Make a copy of the dataframe df_copy
df_copy = df.copy()
df_copy

,Index,Date,Time,LD_DD,LD-DD,Status,Extras,Monitor_Number,Tube_Number,Data_Type,...,data_23,data_24,data_25,data_26,data_27,data_28,data_29,data_30,data_31,data_32
0,2,23 Feb 24,11:03:00,LD,1,0,9,0,MT,0,...,28,11,22,8,20,19,29,64,14,37
1,3,23 Feb 24,11:04:00,LD,1,0,9,0,MT,0,...,27,6,25,2,37,23,38,37,10,31
2,4,23 Feb 24,11:05:00,LD,1,0,9,0,MT,0,...,32,12,21,3,42,7,32,32,2,42
3,5,23 Feb 24,11:06:00,LD,1,0,9,0,MT,0,...,30,5,12,1,42,10,23,19,9,34
4,6,23 Feb 24,11:07:00,LD,1,0,9,0,MT,0,...,39,4,23,0,15,18,29,17,5,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7347,7349,28 Feb 24,13:30:00,LD,1,0,9,0,MT,0,...,0,0,0,0,0,8,29,14,0,0
7348,7350,28 Feb 24,13:31:00,LD,1,0,9,0,MT,0,...,0,0,14,0,0,12,45,28,0,0
7349,7351,28 Feb 24,13:32:00,LD,1,0,9,0,MT,0,...,0,0,0,0,0,27,24,28,0,0
7350,7352,28 Feb 24,13:33:00,LD,1,0,9,0,MT,0,...,0,0,0,0,0,16,8,37,0,0
7351,7353,28 Feb 24,13:34:00,LD,1,0,9,0,MT,0,...,0,0,0,0,0,21,17,11,0,9

In [129]:
#In df_copy, only show the date collunn
#df_copy = df_copy['Date']
#df_copy

#Only show the rows from start_date to end_date
df_copy = df[(df['Date'] >= start_date) & (df['Date'] <= end_date)]
df_copy

,Index,Date,Time,LD_DD,LD-DD,Status,Extras,Monitor_Number,Tube_Number,Data_Type,...,data_23,data_24,data_25,data_26,data_27,data_28,data_29,data_30,data_31,data_32
777,779,24 Feb 24,00:00:00,DD,1,0,9,0,MT,0,...,0,4,0,0,0,0,0,0,0,0
778,780,24 Feb 24,00:01:00,DD,1,0,9,0,MT,0,...,0,4,0,0,0,0,5,0,0,0
779,781,24 Feb 24,00:02:00,DD,1,0,9,0,MT,0,...,0,10,1,0,0,0,6,0,0,0
780,782,24 Feb 24,00:03:00,DD,1,0,9,0,MT,0,...,0,0,0,0,0,0,11,2,0,0
781,783,24 Feb 24,00:04:00,DD,1,0,9,0,MT,0,...,0,3,0,0,0,0,7,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6532,6534,27 Feb 24,23:55:00,DD,1,0,9,0,MT,0,...,0,0,0,0,0,0,7,0,0,0
6533,6535,27 Feb 24,23:56:00,DD,1,0,9,0,MT,0,...,0,0,0,0,0,0,0,0,0,0
6534,6536,27 Feb 24,23:57:00,DD,1,0,9,0,MT,0,...,0,0,0,0,0,0,0,0,0,0
6535,6537,27 Feb 24,23:58:00,DD,1,0,9,0,MT,0,...,0,0,3,0,0,0,1,0,0,0
6536,6538,27 Feb 24,23:59:00,DD,1,0,9,0,MT,0,...,0,0,0,0,0,0,0,0,0,0

In [130]:
#Filter the rows in df_copy where the LD_DD column is equal to LD
df_copy = df_copy[df_copy['LD_DD'] == LD_DD_analysis]
df_copy

,Index,Date,Time,LD_DD,LD-DD,Status,Extras,Monitor_Number,Tube_Number,Data_Type,...,data_23,data_24,data_25,data_26,data_27,data_28,data_29,data_30,data_31,data_32
1137,1139,24 Feb 24,06:00:00,LD,1,0,9,0,MT,0,...,0,0,0,0,0,0,22,11,5,3
1138,1140,24 Feb 24,06:01:00,LD,1,0,9,0,MT,0,...,21,10,13,0,21,13,24,25,6,12
1139,1141,24 Feb 24,06:02:00,LD,1,0,9,0,MT,0,...,22,14,16,3,23,16,33,23,7,24
1140,1142,24 Feb 24,06:03:00,LD,1,0,9,0,MT,0,...,20,20,9,8,21,28,22,26,12,22
1141,1143,24 Feb 24,06:04:00,LD,1,0,9,0,MT,0,...,25,13,14,7,17,25,8,34,12,26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6172,6174,27 Feb 24,17:55:00,LD,1,0,9,0,MT,0,...,28,55,14,0,21,38,21,27,19,0
6173,6175,27 Feb 24,17:56:00,LD,1,0,9,0,MT,0,...,17,33,28,0,18,43,27,40,20,0
6174,6176,27 Feb 24,17:57:00,LD,1,0,9,0,MT,0,...,17,28,18,0,23,13,32,29,28,0
6175,6177,27 Feb 24,17:58:00,LD,1,0,9,0,MT,0,...,23,34,0,0,19,29,21,37,13,0
6176,6178,27 Feb 24,17:59:00,LD,1,0,9,0,MT,0,...,29,52,28,0,26,1,6,25,0,0

In [131]:
#create a new copy called df_copy2
df_copy2 = df_copy.copy()
df_copy2

,Index,Date,Time,LD_DD,LD-DD,Status,Extras,Monitor_Number,Tube_Number,Data_Type,...,data_23,data_24,data_25,data_26,data_27,data_28,data_29,data_30,data_31,data_32
1137,1139,24 Feb 24,06:00:00,LD,1,0,9,0,MT,0,...,0,0,0,0,0,0,22,11,5,3
1138,1140,24 Feb 24,06:01:00,LD,1,0,9,0,MT,0,...,21,10,13,0,21,13,24,25,6,12
1139,1141,24 Feb 24,06:02:00,LD,1,0,9,0,MT,0,...,22,14,16,3,23,16,33,23,7,24
1140,1142,24 Feb 24,06:03:00,LD,1,0,9,0,MT,0,...,20,20,9,8,21,28,22,26,12,22
1141,1143,24 Feb 24,06:04:00,LD,1,0,9,0,MT,0,...,25,13,14,7,17,25,8,34,12,26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6172,6174,27 Feb 24,17:55:00,LD,1,0,9,0,MT,0,...,28,55,14,0,21,38,21,27,19,0
6173,6175,27 Feb 24,17:56:00,LD,1,0,9,0,MT,0,...,17,33,28,0,18,43,27,40,20,0
6174,6176,27 Feb 24,17:57:00,LD,1,0,9,0,MT,0,...,17,28,18,0,23,13,32,29,28,0
6175,6177,27 Feb 24,17:58:00,LD,1,0,9,0,MT,0,...,23,34,0,0,19,29,21,37,13,0
6176,6178,27 Feb 24,17:59:00,LD,1,0,9,0,MT,0,...,29,52,28,0,26,1,6,25,0,0

In [103]:
#Create column called date_LD_DD based on concat of date + LD_DD
df_copy['date_LD_DD'] = df_copy['Date'] + df_copy['LD_DD']
df_copy

/tmp/ipykernel_252258/3962071313.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_copy['date_LD_DD'] = df_copy['Date'] + df_copy['LD_DD']

,Index,Date,Time,LD_DD,LD-DD,Status,Extras,Monitor_Number,Tube_Number,Data_Type,...,data_24,data_25,data_26,data_27,data_28,data_29,data_30,data_31,data_32,date_LD_DD
1137,1139,24 Feb 24,06:00:00,LD,1,0,9,0,MT,0,...,0,0,0,0,0,22,11,5,3,24 Feb 24LD
1138,1140,24 Feb 24,06:01:00,LD,1,0,9,0,MT,0,...,10,13,0,21,13,24,25,6,12,24 Feb 24LD
1139,1141,24 Feb 24,06:02:00,LD,1,0,9,0,MT,0,...,14,16,3,23,16,33,23,7,24,24 Feb 24LD
1140,1142,24 Feb 24,06:03:00,LD,1,0,9,0,MT,0,...,20,9,8,21,28,22,26,12,22,24 Feb 24LD
1141,1143,24 Feb 24,06:04:00,LD,1,0,9,0,MT,0,...,13,14,7,17,25,8,34,12,26,24 Feb 24LD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6172,6174,27 Feb 24,17:55:00,LD,1,0,9,0,MT,0,...,55,14,0,21,38,21,27,19,0,27 Feb 24LD
6173,6175,27 Feb 24,17:56:00,LD,1,0,9,0,MT,0,...,33,28,0,18,43,27,40,20,0,27 Feb 24LD
6174,6176,27 Feb 24,17:57:00,LD,1,0,9,0,MT,0,...,28,18,0,23,13,32,29,28,0,27 Feb 24LD
6175,6177,27 Feb 24,17:58:00,LD,1,0,9,0,MT,0,...,34,0,0,19,29,21,37,13,0,27 Feb 24LD
6176,6178,27 Feb 24,17:59:00,LD,1,0,9,0,MT,0,...,52,28,0,26,1,6,25,0,0,27 Feb 24LD

In [104]:
# Group by date_LD_DD and count the sum of the data1 - data32 columns
df_copy = df_copy.groupby('date_LD_DD')[['data_1', 'data_2', 'data_3', 'data_4', 'data_5', 'data_6', 'data_7', 'data_8', 'data_9', 'data_10', 'data_11', 'data_12', 'data_13', 'data_14', 'data_15', 'data_16', 'data_17', 'data_18', 'data_19', 'data_20', 'data_21', 'data_22', 'data_23', 'data_24', 'data_25', 'data_26', 'data_27', 'data_28', 'data_29', 'data_30', 'data_31', 'data_32']].sum()
df_copy

,data_1,data_2,data_3,data_4,data_5,data_6,data_7,data_8,data_9,data_10,...,data_23,data_24,data_25,data_26,data_27,data_28,data_29,data_30,data_31,data_32
date_LD_DD,,,,,,,,,,,,,,,,,,,,,
24 Feb 24LD,0,0,9733,3307,6345,6482,6592,7181,10631,7123,...,14306,11632,3373,3229,10008,12264,4651,12032,4435,7588
25 Feb 24LD,0,0,10796,3527,12541,8382,7822,4964,9913,6134,...,11600,11496,5915,364,8012,12137,5817,11769,3293,8435
26 Feb 24LD,0,0,11191,4124,8938,12749,9266,6999,8712,5667,...,10703,16514,10764,142,6885,12852,7510,13131,3601,7093
27 Feb 24LD,0,0,15911,4022,9035,16457,9585,8696,9399,6870,...,11146,21178,12306,17,8576,14270,9339,13477,5013,9308

In [132]:
df_copy2

,Index,Date,Time,LD_DD,LD-DD,Status,Extras,Monitor_Number,Tube_Number,Data_Type,...,data_23,data_24,data_25,data_26,data_27,data_28,data_29,data_30,data_31,data_32
1137,1139,24 Feb 24,06:00:00,LD,1,0,9,0,MT,0,...,0,0,0,0,0,0,22,11,5,3
1138,1140,24 Feb 24,06:01:00,LD,1,0,9,0,MT,0,...,21,10,13,0,21,13,24,25,6,12
1139,1141,24 Feb 24,06:02:00,LD,1,0,9,0,MT,0,...,22,14,16,3,23,16,33,23,7,24
1140,1142,24 Feb 24,06:03:00,LD,1,0,9,0,MT,0,...,20,20,9,8,21,28,22,26,12,22
1141,1143,24 Feb 24,06:04:00,LD,1,0,9,0,MT,0,...,25,13,14,7,17,25,8,34,12,26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6172,6174,27 Feb 24,17:55:00,LD,1,0,9,0,MT,0,...,28,55,14,0,21,38,21,27,19,0
6173,6175,27 Feb 24,17:56:00,LD,1,0,9,0,MT,0,...,17,33,28,0,18,43,27,40,20,0
6174,6176,27 Feb 24,17:57:00,LD,1,0,9,0,MT,0,...,17,28,18,0,23,13,32,29,28,0
6175,6177,27 Feb 24,17:58:00,LD,1,0,9,0,MT,0,...,23,34,0,0,19,29,21,37,13,0
6176,6178,27 Feb 24,17:59:00,LD,1,0,9,0,MT,0,...,29,52,28,0,26,1,6,25,0,0

In [133]:
#Create a new column called 'total_activity' that is the sum of the data_1 - data_32 columns
df_copy2['total_activity'] = df_copy2[['data_1', 'data_2', 'data_3', 'data_4', 'data_5', 'data_6', 'data_7', 'data_8', 'data_9', 'data_10', 'data_11', 'data_12', 'data_13', 'data_14', 'data_15', 'data_16', 'data_17', 'data_18', 'data_19', 'data_20', 'data_21', 'data_22', 'data_23', 'data_24', 'data_25', 'data_26', 'data_27', 'data_28', 'data_29', 'data_30', 'data_31', 'data_32']].sum(axis=1)
df_copy2

,Index,Date,Time,LD_DD,LD-DD,Status,Extras,Monitor_Number,Tube_Number,Data_Type,...,data_24,data_25,data_26,data_27,data_28,data_29,data_30,data_31,data_32,total_activity
1137,1139,24 Feb 24,06:00:00,LD,1,0,9,0,MT,0,...,0,0,0,0,0,22,11,5,3,103
1138,1140,24 Feb 24,06:01:00,LD,1,0,9,0,MT,0,...,10,13,0,21,13,24,25,6,12,401
1139,1141,24 Feb 24,06:02:00,LD,1,0,9,0,MT,0,...,14,16,3,23,16,33,23,7,24,492
1140,1142,24 Feb 24,06:03:00,LD,1,0,9,0,MT,0,...,20,9,8,21,28,22,26,12,22,533
1141,1143,24 Feb 24,06:04:00,LD,1,0,9,0,MT,0,...,13,14,7,17,25,8,34,12,26,537
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6172,6174,27 Feb 24,17:55:00,LD,1,0,9,0,MT,0,...,55,14,0,21,38,21,27,19,0,498
6173,6175,27 Feb 24,17:56:00,LD,1,0,9,0,MT,0,...,33,28,0,18,43,27,40,20,0,453
6174,6176,27 Feb 24,17:57:00,LD,1,0,9,0,MT,0,...,28,18,0,23,13,32,29,28,0,519
6175,6177,27 Feb 24,17:58:00,LD,1,0,9,0,MT,0,...,34,0,0,19,29,21,37,13,0,506
6176,6178,27 Feb 24,17:59:00,LD,1,0,9,0,MT,0,...,52,28,0,26,1,6,25,0,0,483

In [134]:
#copy the df_copy2 dataframe to df_copy3, df_copy4, df_copy5
df_copy3 = df_copy2.copy()
df_copy4 = df_copy2.copy()
df_copy5 = df_copy2.copy()

In [135]:
# Set the 'Date' column as the index
df_copy2.set_index('Date', inplace=True)

# Get all of the rows with the date 24 Feb 24 and add together their total_activity column
df_copy2.loc['24 Feb 24', 'total_activity'].sum()

237855

In [136]:
#Do the same thing for the other dates
df_copy3.set_index('Date', inplace=True)
df_copy3.loc['25 Feb 24', 'total_activity'].sum()

230894